* {
	font-family: Sans-serif;
	font-size: 13px;
	background-color: rgba(0,0,0,0);
}

#clock {
	font-weight: 700;
	padding: 0 3px;
	color: #FFF;
	background-color: rgba(0,0,0,0.2);
}

#pulseaudio {
	color: #0f80f1;
}

#pulseaudio.muted {
	color: #9ec7f0;
}
