* {
	font-family: Sans-serif;
	font-size: 12px;
	background-color: rgba(0,0,0,0);
}

#clock {
	font-weight: 700;
	padding: 5px 0;
	color: #FFF;
	background-color: rgba(0,0,0,0.2);
}

#tray menu {
	background-color: rgba(100,246,228,0.4);
}

#pulseaudio {
	color: #0f80f1;
}

#pulseaudio.muted {
	color: #9ec7f0;
}
